<% layout("../layouts/boilerplate") %>
<body>

<div class="row">
    <!-- We created a row, which contains a single element, single column. -->
    <!-- Total 12-columns are there and we want to give 8 to it. -->
    <!-- offset-2, means we want to give spacing from left side. -->
    <div class="col-8 offset-2">
    <h1 style="margin-top: 2rem">Edit the Listing</h1>
    <form action="/listings/<%=listingdata.id%>/edit?_method=PUT" method="POST" style="margin-top: 2rem;">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="x[title]" id="title" value="<%=listingdata.title%>" class="form-control">
        </div>
        
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="x[description]" id="description" placeholder="enter some description" class="form-control"><%=listingdata.description%></textarea>
        </div>
        
        <div class="form-group mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="x[image]" id="image" value="<%=listingdata.image%>" class="form-control">
        </div>


        <!-- To keep price and country in same line. -->
        <div class="row">
            <div class="form-group mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="x[price]" id="price" value="<%=listingdata.price%>" class="form-control">
            </div>
    
            <div class="form-group mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="x[country]" id="country" value="<%=listingdata.country%>" class="form-control">
            </div>
        </div>
        
        
        <div class="form-group mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="x[location]" id="location" value="<%=listingdata.location%>" class="form-control">
        </div>
       
        <br>
        <button class="btn btn-dark">Submit</button>

    </form>
    <br>
    </div>

  </div>
</body>