<% layout("../layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const listing = <%- JSON.stringify(listing) %>;
    // The above listing is used to show the map.
    
    // These coordinates are getting fetched from DB and used by map.js to show a Marker.
</script>
<body>
    <div class="showPage">
        <h2><%=listing.title%></h2>
        <!-- Cardbox start. -->
        <div class="cardBox">
            <img class="cardImage" src="<%=listing.image.url%>" alt="Card image cap">
            <div class="cardBody">
                <h6>Owner: <%=listing.owner.username%> </h6>
                <p><%=listing.description%></p>
                <p><b>&#8377; <%=listing.price.toLocaleString('en-IN')%> / week</b></p>
                <p><%=listing.location%></p>
                <p><%=listing.country%></p>
                <!-- 1st condition checks if the user is logged in, 2nd checks for ownership -->
                <% if(currUser && !currUser._id.equals(listing.owner._id)) { %>
                    <div class="buttonContainer">
                        <form action="/payment/qr" method="GET">
                            <button class="btn btn-danger">Book Now</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        
        <!-- Cardbox end. -->

        <!-- To show Map. -->
        <div class="mapBox mb-2">
            <h6>Locate "<%=listing.title%>" on map</h6>
            <div id="map"></div>
        </div>

        <!-- Review box. -->
        <!-- If current user is the owner then he can't put a review.  -->
        <% if(currUser && !currUser._id.equals(listing.owner._id)) {%>
            <div class="newreviewbox">
                <hr>
                <h6>Leave a Review</h6>
                <form action="/listings/<%=listing.id%>/reviews" method="POST" class="needs-validation" novalidate>
                    <div class="stars">
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="comments">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please add some comments.
                        </div>
                    </div>
                    <button class="btn btn-outline-dark mb-1">Submit</button>
                </form>
            </div>
        <% } %>
        <!-- Reviewbox ended.  -->

        <!-- To Show all the reviews -->
        <% if(listing.reviews.length > 0) {%>
            <hr>
                <h6>All Reviews</h6>
            <div class="reviewsbox">

                <% for(review of listing.reviews) { %>
                    <div class="reviewCardBody">
                        <div class="content">
                        <h6 class="reviewTitle">@ <%= review.author.username %></h6>
                        <p class="starability-result reviewRating" data-rating="<%=review.rating%>"></p>    
                        <p class="comment"><%=review.comment%></p>
                        </div>
                        <div class="buttonbox">
                        <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
    <!-- Show page ended. -->
</body>
<script src="/js/map.js"></script>
